.home-account-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-account-page-full-page-template {
  width: 100%;
  height: 1193px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.home-account-page-top-bar {
  top: 0px;
  left: -1px;
  width: 1920px;
  height: 78px;
  position: absolute;
  border-color: transparent;
}
.home-account-page-right-bar {
  top: 151px;
  left: 1484px;
  width: 367px;
  height: 983px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
}
.home-account-page-middle-bar {
  top: 151px;
  left: 502px;
  width: 913px;
  height: 983px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
}
.home-account-page-left-bar {
  top: 151px;
  left: 66px;
  width: 367px;
  height: 983px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
}
.home-account-page-text {
  top: 12px;
  left: 784px;
  color: rgba(255, 255, 255, 1);
  width: 328px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-account-page-text2 {
  top: 126px;
  left: 1518px;
  color: rgba(0, 0, 0, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 19.082178115844727px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-account-page-text4 {
  top: 126px;
  left: 530px;
  color: rgba(0, 0, 0, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 19.082178115844727px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-account-page-text6 {
  top: 126px;
  left: 98px;
  color: rgba(0, 0, 0, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 19.082178115844727px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-account-page-search-icon {
  top: 22px;
  left: 1789px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.home-account-page-navlink {
  display: contents;
}
.home-account-page-account-icon {
  top: 18px;
  left: 1731px;
  width: 40px;
  height: 40px;
  position: absolute;
  text-decoration: none;
}
.home-account-page-menu-icon {
  top: 14px;
  left: 1839px;
  width: 48px;
  height: 48px;
  position: absolute;
}

.home-account-page-post-icon {
  top: 22px;
  left: 1670px;
  width: 32px;
  height: 32px;
  position: absolute;
}
