
.index-top-bar {
  top: 20px;
  left: -1px;
  width: 100%;
  height: 78px;
  position: absolute;
  border-color: transparent;
}
.index-right-bar {
  top: 151px;
  right: 4%;
  width: 367px;
  height: 983px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
}

.index-left-bar {
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
  z-index: 0;
} 

.index-left-bar-container {
  top: 250px;
  left: 4%;
  position: absolute;
  width: 25%;
  /* margin: 0 auto;
  width: 50%; 
  */
}

.index-middle-bar {
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.index-middle-bar-container {
  top: 151px;
  left: 33%;
  position: absolute;
  width: 40%;
  height: 3000px;
  /* margin: 0 auto;
  width: 50%; */
} 


.scrollable-list {
  height: 720px;
  width: 95%;
  top: 5px;
  left: 10px;
  position: absolute;
  z-index: 1;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  padding: 25px 10px 25px 10px;
}

.post-list
{
  border-bottom: 1px solid #ccc;
}

li h2, li p {
  margin: 0;
}

.team-label {
  position: absolute;
  top: 10px;
  right: 8px;
  background-color: rgb(32,92,252);
  color: #fff;
  padding: 5px;
  font-size: 12px;
}

.likes {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.like-button {
  background-color: #ccc;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.like-count {
  font-size: 17px;
}

.list li {
  padding: 10px 10px 75px 10px;
  text-align: center;
}

.index-text {
  top: 58px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  width: 328px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text02 {
  top: 126px;
  right: 5%;
  color: rgb(0, 0, 0);
  width: 315px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text04 {
  top: 126px;
  left: 35%;
  color: rgba(0, 0, 0, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
} 
.index-text06 {
  top: 126px;
  left: 5%;
  color: rgb(0, 0, 0);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-search-icon {
  top: 22px;
  right: 87px;
  width: 32px;
  height: 32px;
  position: absolute;
  min-width: 16px;
}
.index-navlink {
  display: contents;
}
.index-account-icon {
  top: 18px;
  right: 138px;
  width: 40px;
  height: 40px;
  position: absolute;
  min-width: 16px;
}
.index-menu-icon {
  top: 14px;
  right: 24px;
  width: 48px;
  height: 48px;
  position: absolute;
  min-width: 16px;
}

.index-huddle-user {
  left: 0px; 
  width: 100%;
  height: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
} 
.index-text08 {
  left: 82px;
  color: rgba(0, 0, 0, 1);
  width: 90%;
  height: auto;
  position: absolute;
  font-size: 200%;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Work Sans;
  font-size: 35px;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text10 {
  left: 82px;
  color: rgba(0, 0, 0, 1);
  width: 500px;
  height: auto;
  position: absolute;
  font-size: 23.540414810180664px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Work Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-huddle-pic {
  left: 0px; 
  width: 69px;
  height: 69px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.index-ellipse6 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 69px;
  position: absolute;
  border-color: transparent;
}
.index-text12 {
  top: 7px;
  left: 1px;
  color: rgba(255, 255, 255, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.index-page-post-icon {
  top: 39px;
  right: 265px;
  width: 85px;
  height: 40px;
  position: absolute;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.index-log-icon {
  top: 39px;
  right: 150px;
  width: 100px;
  height: 40px;
  position: absolute;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.hamburger-drop-down {
  top: 39px;
  right: 35px;
  width: 100px;
  height: 40px;
  position: absolute;
  font-family: Work Sans;
  font-style: ExtraBold;
  font-weight: 800;
  font-size: 21px;
  color:#1D5CFF;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-width: 2.5px;
  border-radius: 16px;
}

.index-add-new-teams-container {
  height: 50px;
  width: 600px;
  display: flex;
  position: absolute;
  top: 180px;
  left: 5%;
}

.index-add-new-teams-button {
  background-color: rgb(32,92,252);
  border-radius: 12px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  text-align: left;
  display: inline-block;
  width: 160px;
  height: 50px;
  margin-left: 220px;
}

.index-page-teams {
  width: 250px;
  height: 50px;
  position: absolute;
  font-size: 23px;
  font-family: Work Sans;
  border-color: var(--dl-color-primary-huddleblue);
  border-width: 2.5px;
  border-radius: 12px;
  display: inline-block;
}  

.index-right-bar-container {
  top: 1.9%;
  left: 72%;
  position: absolute;
  width: 25%;
}

.scrollable-list-right {
  top: 5%;
  left: 4%;
   width: 23.5%;
  border-collapse: collapse;
  height: auto;
  
  margin: 2px 0;
  margin-top: 9%;
  margin-left: 75%; 
  background-color: #F8FAFF;
  padding: 8px;
  font-size: 5px;
  line-height: 1.5;
  text-align: center;
  color: black;
  border-radius: 50px; 
  font-family: Work Sans;
  font-weight: 700;
  font-style: light; 
}

.scrollable-list-right + .scrollable-list-right {
  margin-top: 1%;
}

.scrollable-list-right p {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1px;

}

.scrollable-list-right ul {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

.scrollable-list-right li {
  font-size: 1rem;
  margin-bottom: 5px;
  font-family: Work Sans;
  font-weight: 600;
  
}

.scrollable-list-right img {
  width: 90px;
  height: 90px;
  
  font-size: 1rem;
  margin-bottom: 5px;
  font-family: Work Sans;
  font-weight: 600;
  /* margin-bottom: 5px;
  margin-right: 10px;
  border-radius: 50%; */
  text-align: center;
  margin: 0 10px;
}

.logos {
  display: flex;
  flex-direction: row-reverse;
  
  
  justify-content: center; 
  align-items: center; 
  margin-top: 1px; 
}

.team-names {
  font-size: 220px;
  font-family: Work Sans;
}
