.login-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-page-login-page {
  width: 100%;
  height: 1193px;
  display: flex;
  overflow: hidden;
  position: fixed;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.login-page-top-bar {
  top: 0px;
  left: -1px;
  width: 100%;
  height: 6%;
  position: absolute;
  border-color: transparent;
}
.login-page-search-icon {
  top: 22px;
  right: 4.5%;
  width: 32px;
  height: 32px;
  position: absolute;
}

.login-page-menu-icon {
  top: 14px;
  right: 1%;
  width: 48px;
  height: 48px;
  position: absolute;
}
.login-page-account-icon {
  top: 18px;
  right: 7.5%;
  width: 40px;
  height: 40px;
  position: absolute;
}
.login-page-middle-bar {
  top: 78px;
  left: 26.5%;
  width: 913px;
  height: 1115px;
  position: absolute;
  border-color: transparent;
}
.login-page-text { /* This is the "New to Huddle?" text*/
  top: 827px;
  left: 41%;
  color: rgb(0, 0, 0);
  width: 324px;
  height: auto;
  position: absolute;
  font-size: 21.0343px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-page-message { /* This is the "Incorrect username or password" text*/
  top: 827px;
  left: 41%;
  color: rgb(0, 0, 0);
  width: 324px;
  height: auto;
  position: absolute;
  font-size: 21.0343px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-page-text01 {  /*this is the Welcome msg */
  top: 403px;
  left: 703px;
  color: rgba(28, 92, 255, 1);
  width: 489px;
  height: auto;
  position: absolute;
  font-size: 71.60655975341797px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-page-log-in-button { /*this is the Log In button "container" */
  top: 100px;
  left: 831px;
  width: 234px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  text-decoration: none;
}
.login-page-rectangle12 { /*this is the Log In button rec*/
  top: 0px;
  left: 0px;
  width: 234px;
  height: 63px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.login-page-text07 { /*this is the Log In text inside the button*/
  top: 14px;
  left: 62px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 27.606220245361328px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-page-text09 { /*this is the Huddle Logo text on the top bar*/
  top: 8px;
  left: 40%;
  color: rgba(255, 255, 255, 1);
  width: 328px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-page-password-input {
  top: 630px;
  left: 648px;
  width: 621px;
  height: 61px;
  position: absolute;
  font-size: 20px;
  font-family: Work Sans;
  border-style: hidden;
  background-color: #bbceff;
  border-top-width: 10px;
  border-left-width: 20px;
  border-right-width: 10px;
  border-bottom-width: 10px;
}
.login-page-username-input {
  top: 510px;
  left: 649px;
  width: 621px;
  height: 61px;
  position: absolute;
  font-size: 20px;
  font-family: Work Sans;
  border-style: hidden;
  background-color: #bbceff;
  border-top-width: 10px;
  border-left-width: 20px;
  border-right-width: 10px;
  border-bottom-width: 10px;
}


.login-page-navlink { /* This is for "here" button */
  top: 827px;
  left: 54.5%;
  color: var(--dl-color-primary-huddleblue);
  width: 56px;
  height: 30px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  padding-top: 0px;
  border-style: hidden;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: underline;
  background-color: var(--dl-color-primary-huddlelightlightgrey);
}

