.schedule-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.schedule-page-full-page-template {
  width: 100%;
  height: 1193px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.schedule-page-first-schedule-table {
  top: 470px;
  left: 56px;
  width: 1817px;
  height: 465px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.schedule-page-rectangle11 {
  top: 78px;
  left: 0px;
  width: 1817px;
  height: 387px;
  position: absolute;
  border-color: transparent;
  border-radius: 0 0 35px 35px;
}
.schedule-page-rectangle10 {
  top: 0px;
  left: 0px;
  width: 1817px;
  height: 78px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px 35px 0 0;
}
.schedule-page-line2 {
  top: 150px;
  left: 0px;
  width: 1817px;
  height: 0px;
  position: absolute;
}
.schedule-page-line3 {
  top: 233px;
  left: 0px;
  width: 1817px;
  height: 0px;
  position: absolute;
}
.schedule-page-line4 {
  top: 312px;
  left: 0px;
  width: 1817px;
  height: 0px;
  position: absolute;
}
.schedule-page-line5 {
  top: 391px;
  left: 0px;
  width: 1817px;
  height: 0px;
  position: absolute;
}
.schedule-page-text {
  top: 18px;
  left: 21px;
  color: rgba(255, 255, 255, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 37.58684539794922px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-page-text02 {
  top: 18px;
  left: 563px;
  color: rgba(255, 255, 255, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 37.58684539794922px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-page-text04 {
  top: 18px;
  left: 936px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 37.58684539794922px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-page-text06 {
  top: 126px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  width: 384px;
  height: auto;
  position: absolute;
  font-size: 74.95890808105469px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.schedule-page-text08 {
  top: 408px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  width: 507px;
  height: auto;
  position: absolute;
  font-size: 49.97159957885742px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.schedule-page-separator {
  top: 240px;
  left: 56px;
  width: 1817px;
  height: 0px;
  position: absolute;
}
.schedule-page-select-team-button {
  top: 296px;
  left: 56px;
  width: 234px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.schedule-page-rectangle12 {
  top: 0px;
  left: 0px;
  width: 234px;
  height: 63px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.schedule-page-text10 {
  top: 15px;
  left: 21px;
  color: rgba(255, 255, 255, 1);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 27.606220245361328px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.schedule-page-polygon1 {
  right: 19px;
  width: 18px;
  bottom: 20px;
  height: 17px;
  position: absolute;
}
.schedule-page-text12 {
  top: 986px;
  left: 56px;
  color: rgb(0, 0, 0);
  width: 507px;
  height: auto;
  position: absolute;
  font-size: 49.9716px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.schedule-page-second-schedule-table {
  top: 1047px;
  left: 56px;
  width: 1817px;
  height: 465px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.schedule-page-rectangle13 {
  top: 0px;
  left: 0px;
  width: 1817px;
  height: 78px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px 35px 0 0;
}
.schedule-page-rectangle121 {
  top: 78px;
  left: 0px;
  width: 1817px;
  height: 67px;
  position: absolute;
  border-color: transparent;
}
.schedule-page-text13 {
  top: 18px;
  left: 21px;
  color: rgba(255, 255, 255, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 37.58684539794922px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-page-text15 {
  top: 18px;
  left: 563px;
  color: rgba(255, 255, 255, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 37.58684539794922px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-page-text17 {
  top: 18px;
  left: 936px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 37.58684539794922px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.schedule-page-top-bar {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 78px;
  position: absolute;
  border-color: transparent;
}
.schedule-page-search-bar {
  top: 22px;
  left: 1790px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.schedule-page-navlink {
  display: contents;
}
.schedule-page-account-icon {
  top: 18px;
  left: 1732px;
  width: 40px;
  height: 40px;
  position: absolute;
  text-decoration: none;
}
.schedule-page-text19 {
  top: 8px;
  left: 797px;
  color: rgba(255, 255, 255, 1);
  width: 328px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.schedule-page-menu-icon {
  top: 14px;
  left: 1840px;
  width: 48px;
  height: 48px;
  position: absolute;
}
