.stats-page-button-container {
    position: relative; /* Set the container to be relatively positioned */
    display: flex;
    justify-content: space-between;
    width: 100%; /* Set the width to 100% so it adjusts to the page size */
}

.stats-page-top-bar {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 78px;
    position: absolute;
    border-color: transparent;
}

.stats-page-menu-icon {
    top: 14px;
    right: 24px;
    width: 48px;
    height: 48px;
    position: absolute;
    min-width: 16px;
}
.stats-page-search-icon {
    top: 22px;
    right: 87px;
    width: 32px;
    height: 32px;
    position: absolute;
    min-width: 16px;
}
.stats-page-account-icon {
    top: 18px;
    right: 138px;
    width: 40px;
    height: 40px;
    position: absolute;
    min-width: 16px;
}

.stats-page-huddle-top-logo {
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 1);
    width: 328px;
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: ExtraBold;
    text-align: center;
    font-family: Work Sans;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

.stats-page-text {
    top: 126px;
    left: 56px;
    color: rgba(0, 0, 0, 1);
    width: 80%;
    height: auto;
    position: absolute;
    font-size: 74.95890808105469px;
    align-self: auto;
    font-style: ExtraBold;
    text-align: left;
    font-family: Work Sans;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

.stats-page-separator {
    top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 94%;
    height: 0px;
    position: absolute;
    border-color: var(--dl-color-primary-huddleblue);
    border-width: 2px;
  }

.stats-page-get-stats-button {
    top: 373px;
    left: 56px;
    width: 234px;
    height: 63px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
}

.stats-page-rectangle12 {
    top: 0px;
    left: 0px;
    width: 234px;
    height: 63px;
    position: absolute;
    border-color: transparent;
    border-radius: 50px;
  }

.stats-page-text19 {
    top: 13px;
    left: 27px;
    color: rgba(255, 255, 255, 1);
    width: 181px;
    height: auto;
    position: absolute;
    font-size: 27.606220245361328px;
    align-self: auto;
    font-style: ExtraBold;
    text-align: center;
    font-family: Work Sans;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.stats-page-clear-filters-button {
    top: 373px;
    left: 334px;
    width: 234px;
    height: 63px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
}

.stats-page-rectangle121 {
    top: 0px;
    left: 0px;
    width: 234px;
    height: 63px;
    position: absolute;
    border-color: transparent;
    border-radius: 50px;
}

.stats-page-text21 {
    top: 13px;
    left: 27px;
    color: rgba(255, 255, 255, 1);
    width: 181px;
    height: auto;
    position: absolute;
    font-size: 27.606220245361328px;
    align-self: auto;
    font-style: ExtraBold;
    text-align: center;
    font-family: Work Sans;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.stats-page-seasons-drop-down {
    top: 290px;
    left: 58px;
    width: 234px;
    height: 49px;
    /* display: flex; */
    /* padding: 0; */
    position: absolute;
    /* align-self: auto; */
    /* box-sizing: border-box; */
    /* align-items: flex-start; */
    /* flex-shrink: 1; */
    border-color: #1D5CFF;
    /* border-style: none; */
    border-width: 2.5px;
    /* margin-right: 0; */
    /* border-radius: 0px 0px 0px 0px; */
    /* margin-bottom: 0; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    /* background-color: transparent; */
  
}

.stats-page-text25 { /* title for season drop down */
    top: 268px;
    left: 59px;
    color: rgba(0, 0, 0, 1);
    width: 149px;
    height: auto;
    position: absolute;
    font-size: 18.600318908691406px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Work Sans;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    
}

.stats-page-text27 {
    top: 39px;
    left: 14px;
    color: rgba(0, 0, 0, 1);
    width: 82px;
    height: auto;
    position: absolute;
    font-size: 18.600318908691406px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Work Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.stats-page-game-type-drop-down {
    top: 290px;
    left: 334px;
    width: 234px;
    height: 49px;
    /* display: flex;
    padding: 0; */
    position: absolute;
    /* align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1; */
    border-color: #1D5CFF;
    /* border-style: none; */
    border-width: 2.5px;
    /* margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent; */
}

.stats-page-text29 {
    top: 39px;
    left: 18px;
    color: rgba(0, 0, 0, 1);
    width: 164px;
    height: auto;
    position: absolute;
    font-size: 18.600318908691406px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Work Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.stats-page-text31 { /* title for game type drop down */
    top: 268px;
    left: 334px;
    color: rgba(0, 0, 0, 1);
    width: 149px;
    height: auto;
    position: absolute;
    font-size: 18.600318908691406px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Work Sans;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.stats-page-franchise-drop-down {
    top: 290px;
    left: 612px;
    width: 234px;
    height: 49px;
    /* display: flex;
    padding: 0; */
    position: absolute;
    /* align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1; */
    border-color: #1D5CFF;
    /* border-style: none; */
    border-width: 2.5px;
    /* margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent; */
}

.stats-page-text33 {
    top: 39px;
    left: 17px;
    color: rgba(0, 0, 0, 1);
    width: 164px;
    height: auto;
    position: absolute;
    font-size: 18.600318908691406px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Work Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.stats-page-text35 { /* title for franchise drop down */
    color: rgba(0, 0, 0, 1);
    width: 149px;
    left: 612px;
    top: 268px;
    height: auto;
    position: absolute;
    font-size: 18.600318908691406px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Work Sans;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}


.stats-page-position-drop-down {
    top: 290px;
    left: 890px;
    width: 234px;
    height: 49px;
    /* display: flex;
    padding: 0; */
    position: absolute;
    /* align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1; */
    border-color: #1D5CFF;
    /* border-style: none; */
    border-width: 2.5px;
    /* margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent; */
}

.stats-page-text37 {
    top: 39px;
    left: 18px;
    color: rgba(0, 0, 0, 1);
    width: 164px;
    height: auto;
    position: absolute;
    font-size: 18.600318908691406px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Work Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.stats-page-text39 { /* title for position drop down */
    color: rgba(0, 0, 0, 1);
    width: 149px;
    top: 268px;
    left: 890px;
    height: auto;
    position: absolute;
    font-size: 18.600318908691406px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Work Sans;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.stats-page-report-drop-down {
    top: 290px;
    left: 1168px;
    width: 234px;
    height: 49px;
    /* display: flex;
    padding: 0; */
    position: absolute;
    /* align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1; */
    border-color: #1D5CFF;
    /* border-style: none; */
    border-width: 2.5px;
    /* margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent; */
}

.stats-page-text41 {
    top: 39px;
    left: 18px;
    color: rgba(0, 0, 0, 1);
    width: 164px;
    height: auto;
    position: absolute;
    font-size: 18.600318908691406px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Work Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.stats-page-text43 { /* title for report drop down */
    color: rgba(0, 0, 0, 1);
    width: 149px;
    left: 1168px;
    top: 268px;
    height: auto;
    position: absolute;
    font-size: 18.600318908691406px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Work Sans;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
} 

.stats-page-text06 {
  top: 500px;
  left: 48px;
  background-color: rgb(0, 179, 255);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 37.58684539794922px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}


.table-chart {
    width: 94%;
    border-collapse: collapse;
    margin: 25px 0;
    margin-top: 470px;
    margin-left: 55px;
    font-size:large;
    min-width: 400px;
    font-family: Work Sans;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.table-chart thead tr{
    background-color: #1D5CFF;
    color: white;
    text-align: left;  
    
}

.table-chart th,
.table-chart td {
    text-align: left;
    
  padding: 6px;
  
}

.table-chart tbody tr {
   
    border-bottom: 1px solid #dddddd;
}

.table-chart tbody tr:nth-of-type(even) {
  background-color: #C0D2FF;
}

.table-chart tbody tr:last-of-type {
  border-bottom: 3px solid #1D5CFF;
}

.stats-page-post-icon {
    top: 18px;
    right: 265px;
    width: 85px;
    height: 40px;
    position: absolute;
    border-radius: 16px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
  
}

.stats-page-log-icon {
    top: 18px;
    right: 150px;
    width: 100px;
    height: 40px;
    position: absolute;
    border-radius: 16px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.hamburger-drop-down {
    top: 18px;
    right: 35px;
    width: 100px;
    height: 40px;
    position: absolute;
    font-family: Work Sans;
    font-style: ExtraBold;
    font-weight: 800;
    font-size: 21px;
    color:#1D5CFF;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-width: 2.5px;
    border-radius: 16px;
}
