.register-page-container {
  min-height: 100vh;
}
.register-page-register-page {
  width: 100%;
  height: 1193px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.register-page-rectangle1 {
  top: 0px;
  left: -1px;
  width: 1920px;
  height: 78px;
  position: absolute;
  border-color: transparent;
}
.register-page-rectangle4 {
  top: 79px;
  left: 509px;
  width: 913px;
  height: 1115px;
  position: absolute;
  border-color: transparent;
}
.register-page-text {
  top: 297px;
  left: 694px;
  color: rgba(28, 92, 255, 1);
  width: 543px;
  height: auto;
  position: absolute;
  font-size: 71.60655975341797px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.register-page-rectangle7 {
  top: 25px;
  left: 1842px;
  width: 39px;
  height: 8px;
  position: absolute;
  border-color: transparent;
  border-radius: 3.545454502105713px;
}
.register-page-rectangle8 {
  top: 37px;
  left: 1842px;
  width: 39px;
  height: 8px;
  position: absolute;
  border-color: transparent;
  border-radius: 3.545454502105713px;
}
.register-page-rectangle9 {
  top: 49px;
  left: 1842px;
  width: 39px;
  height: 8px;
  position: absolute;
  border-color: transparent;
  border-radius: 3.545454502105713px;
}
.register-page-vector {
  top: 23.502758026123047px;
  left: 1789px;
  width: 32px;
  height: 30px;
  position: absolute;
}
.register-page-component1 {
  top: 610px;
  left: 641px;
  width: 638px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.register-page-text02 {
  top: 19px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 21.034263610839844px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Work Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.register-page-rectangle10 {
  top: 0px;
  left: 0px;
  width: 638px;
  height: 63px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.register-page-component3 {
  top: 509px;
  left: 641px;
  width: 638px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.register-page-text04 {
  top: 19px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 21.034263610839844px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Work Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.register-page-rectangle101 {
  top: 0px;
  left: 0px;
  width: 638px;
  height: 63px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.register-page-component2 {
  top: 711px;
  left: 641px;
  width: 638px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.register-page-text06 {
  top: 19px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 21.034263610839844px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Work Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.register-page-rectangle102 {
  top: 0px;
  left: 0px;
  width: 638px;
  height: 63px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.register-page-component4 {
  top: 812px;
  left: 641px;
  width: 638px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.register-page-text08 {
  top: 19px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 21.034263610839844px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Work Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.register-page-rectangle103 {
  top: 0px;
  left: 0px;
  width: 638px;
  height: 63px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.register-page-name {
  top: 408px;
  left: 641px;
  width: 304px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.register-page-text10 {
  top: 17px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 21.034263610839844px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Work Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.register-page-rectangle104 {
  top: 0px;
  left: 0px;
  width: 304px;
  height: 63px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.register-page-name1 {
  top: 408px;
  left: 975px;
  width: 304px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.register-page-text12 {
  top: 17px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 21.034263610839844px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Work Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.register-page-rectangle105 {
  top: 0px;
  left: 0px;
  width: 304px;
  height: 63px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.register-page-sign-up-button {
  top: 913px;
  left: 828px;
  width: 234px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.register-page-rectangle12 {
  top: 0px;
  left: 0px;
  width: 234px;
  height: 63px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.register-page-text14 {
  top: 14px;
  left: 62px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 27.606220245361328px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.register-page-text16 {
  top: 8px;
  left: 796px;
  color: rgba(255, 255, 255, 1);
  width: 328px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
