.login-page-container {
  min-height: 100vh;
}
.login-page-login-page {
  width: 100%;
  height: 1193px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.login-page-rectangle1 {
  top: 0px;
  left: -1px;
  width: 1920px;
  height: 78px;
  position: absolute;
  border-color: transparent;
}
.login-page-rectangle4 {
  top: 78px;
  left: 492px;
  width: 913px;
  height: 1115px;
  position: absolute;
  border-color: transparent;
}
.login-page-text {
  top: 549px;
  left: 671px;
  color: rgba(0, 0, 0, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 21.034263610839844px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Work Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-page-text02 {
  top: 646px;
  left: 671px;
  color: rgba(0, 0, 0, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 21.034263610839844px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Work Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-page-text04 {
  top: 827px;
  left: 786px;
  color: rgba(0, 0, 0, 1);
  width: 324px;
  height: auto;
  position: absolute;
  font-size: 21.034263610839844px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-page-text05 {
  font-weight: 400;
}
.login-page-text06 {
  color: rgba(0, 0, 0, 1);
  font-weight: 300;
  text-decoration: NONE;
}
.login-page-text07 {
  color: rgba(28, 92, 255, 1);
  font-weight: 600;
  text-decoration: UNDERLINE;
}
.login-page-text08 {
  top: 403px;
  left: 703px;
  color: rgba(28, 92, 255, 1);
  width: 489px;
  height: auto;
  position: absolute;
  font-size: 71.60655975341797px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-page-rectangle7 {
  top: 25px;
  left: 1842px;
  width: 39px;
  height: 8px;
  position: absolute;
  border-color: transparent;
  border-radius: 3.545454502105713px;
}
.login-page-rectangle8 {
  top: 37px;
  left: 1842px;
  width: 39px;
  height: 8px;
  position: absolute;
  border-color: transparent;
  border-radius: 3.545454502105713px;
}
.login-page-rectangle9 {
  top: 49px;
  left: 1842px;
  width: 39px;
  height: 8px;
  position: absolute;
  border-color: transparent;
  border-radius: 3.545454502105713px;
}
.login-page-vector {
  top: 23.502758026123047px;
  left: 1789px;
  width: 32px;
  height: 30px;
  position: absolute;
}
.login-page-rectangle10 {
  top: 530px;
  left: 641px;
  width: 638px;
  height: 63px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.login-page-rectangle11 {
  top: 629px;
  left: 641px;
  width: 638px;
  height: 63px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.login-page-log-in-button {
  top: 728px;
  left: 831px;
  width: 234px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.login-page-rectangle12 {
  top: 0px;
  left: 0px;
  width: 234px;
  height: 63px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.login-page-text10 {
  top: 14px;
  left: 62px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 27.606220245361328px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-page-text12 {
  top: 8px;
  left: 796px;
  color: rgba(255, 255, 255, 1);
  width: 328px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
